{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}
<div class="containner">
<div class="row">
<center> <h1 class="my-4">List of Tasks !</h1> </center>
<div class="col-md-10 mx-auto"> 
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>

        </tr>
    </thead>
    <tbody>
    {% for tasks in task %}
        <tr>
        
            <td scope="row">{{tasks.id}}</td>
            <td>{{tasks.name}}</td>
            <td>{{tasks.description}}</td>
            <td>{{tasks.status}}</td>
            <td>            
            <a name="" id="" class="btn btn-primary" href="{{path('product_show',{id:tasks.id})}}" role="button"><i class="fa fa-eye"></i></a>
            <a name="" id="" class="btn btn-danger" href="{{path('edit',{id:tasks.id})}}" role="button"><i class="fa fa-edit"></i></a>
            <a name="" id="" class="btn btn-warning" href="{{path('delete_task',{id:tasks.id})}}" role="button"><i class="fa fa-trash"></i></a>
            </td>
            
        </tr>
      {% endfor %}
    </tbody>
</table>
<div>
</div>
</div>
{% endblock %}
